extends ../layout.pug

block content
    h1 GAME
    #board

    script(type='module').
        import { createGame, joinGame, watchGame } from '/scripts/script.js';

        if (#{action === 'create'}) {
            createGame(#{!!ai});
        } else if (#{action === 'join'}) {
            joinGame(#{!!host}, #{!!ai}, '#{roomId}');
        } else if (#{action === 'watch'}) {
            watchGame('#{roomId}');
        }
