extends ../layout.pug

block content
    main
        article
            #board
        aside
            h2 Game with #{ai ? 'AI' : 'human'}
            p
                b You: #{' '}
                span#youCaption
                br
                b Opponent: #{' '}
                span#opponentCaption
    script(type='module').
        import { createGame, joinGame, watchGame } from '/scripts/game.js';
        if (#{action === 'create'}) {
            createGame(#{!!ai});
        } else if (#{action === 'join'}) {
            joinGame(#{!!host}, #{!!ai}, '#{roomId}');
        } else if (#{action === 'watch'}) {
            watchGame('#{roomId}');
        }